cryptography==46.0.1
google-api-python-client==2.181.0
google-auth
google-auth-oauthlib==1.2.2
google-auth-httplib2
gputil==1.4.0
gspread==6.2.1
isodate==0.7.2
librosa==0.10.2
mutagen==1.47.0
numpy==2.3.3
nvidia-ml-py==13.580.82
openai==1.109.1
Pillow==11.3.0
protobuf==6.32.1
psutil==7.0.0
pydub==0.25.1
pynvml==13.0.1
PySide6==6.9.2
PySide6-Addons==6.9.2
PySide6-Essentials==6.9.2
python-dotenv
requests==2.32.5
soundfile==0.13.1
moviepy
imageio
imageio-ffmpeg
oauth2client
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision
torchcrepe==0.0.24
webrtcvad==2.0.10
google-generativeai
vertexai
google-cloud-storage
httpx
